{% include base_path %}

<div class="masthead" {% if site.environment == "development" %}
  style="background-color: #83ae23"
{% endif %}>
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <a class="masthead-logo-link" href="{{ base_path }}/" alt="{{ site.title }}"><div class="masthead-logo" alt="{{ site.title }}" title="{{ site.title }}" ></div></a>
      {% if page.url != "/" %}
      <div class="wallet-search">
        <input class="searchbar" type="text" placeholder="Search wallet reviews..." />
        <div class="search-controls">
          <i class="fas fa-circle-notch"></i>
          <i class="enter search-trigger-target" data-symbol="⏎"></i>
          <i class="fas fa-times reset-search"></i> 
        </div>
        <ul class="search-results results-target exit-search-target"></ul>
      </div>
      {% else %}
      <div class="desktop-only"></div>
      {% endif %}
      <nav id="site-nav" class="greedy-nav">
        <div class="mobile-search-shortcut"><i class="fas fa-search"></i></div>
        <ul class="visible-links">
          <!-- <li class="masthead__menu-item masthead__menu-item--lg"></li> -->
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li><a class="theme-parent no-hover" onclick="toggleTheme()" title="Toggle light/dark website theme"><i class="fas fa-moon"></i><i class="fas fa-sun"></i></a></li>
          <!-- <li><a class="vibrancy no-hover" onclick="toggleVibrancy()" title="Toggle vibrant website theme"></a></li> -->
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div> 
</div>

<script>
  document.body.classList.add(window.theme);
  function toggleTheme(){
    if(window.theme !== "dark"){
      window.theme = "dark"
      document.body.classList.remove("light")
      document.body.classList.add("dark")
    } else {
      window.theme = "light";
      document.body.classList.remove("dark");
      document.body.classList.add("light");
    }
    try { localStorage.setItem('colour-scheme', window.theme) } catch (e) {}
  }
</script>

<script>
  document.querySelector(".navicon").parentNode.addEventListener("click", (event) => {
    const self = document.querySelector(".navicon").parentNode
    const right = (window.outerWidth - self.getBoundingClientRect().right)-(self.clientWidth/2)
    document.querySelector(".hidden-links").style.right=`calc(${right}px + 1.5rem)`
  })
</script>
<script src="{{ base_path }}/assets/js/walletSearchMethods.js"></script>
<script src="{{ base_path }}/assets/js/searchWalletsNav.js"></script>
