---
layout: default
---

<div id="main" role="main">
  <!-- {% include sidebar.html %} -->

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>
