{% assign html = '' %}
{% if include.wsId %}
  {% for folders in site.data.platformMeta %}
    {% assign folder = folders[0] %}
    {% if folder != include.platform %}
      {% assign wallet = site[folder] | find: "wsId", include.wsId %}
      {% if wallet %}
        {% capture htmlInner %}
          <div class="also-for">
            <a href="/{{folder}}/{{wallet.appId}}">
              <img class="app_logo {{folder}}"
              src="/images/wIcons/{{folder}}/tiny/{{wallet.icon}}"
              alt="Wallet Logo">
              {% include iconClass.html platform=folder store='true' %}
              {% include folderToName.html folder=folder store='true' %}
              <span>{{ wallet.altTitle | default: wallet.title }}</span>
              <span><i class="{{iconClass}}"></i>&nbsp;{{name}}</span>
              </a>
          </div>
        {% endcapture %}
        {% assign html = html | append: htmlInner %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if html.size > 0 %}
<div class="see-also-container">
{{html}}
</div>
{% endif %}